snippet today "insert date" b
`date +%F` 
endsnippet

snippet legday "leg day template" b
`date +%F` Leg day
warm-up
	$1
$2hip hinges
	$3
$4pistol squats
	$5
$6knee raise + glute bridge
	$7
$8crunch + aquaman
	$9
$10toe raises
	$11
$12side raises
	$13
$14squats
	$15
endsnippet
