[core]
	editor = vim
[user]
	email = kol@posteo.de
	name = imlew
[grep]
	lineNumber = true
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an][%ae]' --graph
	co = checkout
    c = commit
    b = branch
    s = status
    d = diff
[mergetool]
	prompt = false
[color]
	ui = auto
[alias]
   vimdiff=difftol -y -t vimdiff -R
[pager]
	branch = false
