[core]
	editor = vim
[user]
	email = n.zaki@rasa.com
	name = Nikolai
[grep]
	lineNumber = true
[alias]
    wt = worktree
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph
	co = checkout
    c = commit
    b = branch
    s = status
    d = diff
[mergetool]
	prompt = false
[color]
	ui = auto
[alias]
   vimdiff=difftol -y -t vimdiff -R
[pager]
	branch = false
