config/dotfiles/vim/pack
config/dotfiles/vim/colors
config/dotfiles/vim/view
__pycache__/
config/dotfiles/vim/autoload/
config/dotfiles/vim/plugged/
config/dotfiles/vim/undodir
config/dotfiles/vim/spell/*.spl
