"*":
  "atom-runner": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    strictMatching: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "Warm-Dark-syntax"
    ]
  editor:
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "5eb0ba7b-b252-4b62-b772-953765c99218"
  minimap:
    absoluteMode: true
  welcome:
    showOnStartup: false
