'.source.python':
  'debug':
    'prefix': 'logging debug'
    'body': 'logging.debug(f"$1")'

  'log.info':
    'prefix': 'logging info'
    'body': 'logging.info(f"$1")'

  'log analysis':
    'prefix': 'logging analysis'
    'body': 'logging.got(ANALYSIS_LEVELV_NUM,
                         f"$1")'
